<div class="card">
<%= form_with(model: banco, local: true) do |form| %>
  <% if banco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(banco.errors.count, "error") %> prohibited this banco from being saved:</h2>

      <ul>
      <% banco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col s12 m4">
      <%= form.label :nome %>
      <%= form.text_field :nome %>
    </div>

    <div class="col s12 m4">
      <%= form.label :tipo %>
      <%= form.text_field :tipo %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit 'Salvar', class:"btn blue darken-4"%>
    <% if banco.id %>
      <%= link_to 'EXCLUIR', banco, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn red" %>
    <% end %>
  </div>
<% end %>
</div>