<% if notice %>
  <p id="notice" class="flash_sucess"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%end%>
<h6>BANCOS</h6>

<div class="bancos card">

  <div class="table">
    <ul class="head">
      <li class="columns">Nome</li>
      <li class="columns">Tipo</li>
      <li class="columns">Saldo Atual</li>
      <li class="columns"></li>
    </ul>
    <ul class="content">
     <% @bancos.each do |banco| %>
      <li class="row">
        <div class="columns"><span class="hide">Nome</span><%= link_to banco.nome.upcase, banco %></div>
        <div class="columns"><span class="hide">Tipo</span><%= banco.tipo %></div>
        <div class="columns"><span class="hide">Saldo Atual</span><%= number_to_currency ultimo_valor(banco) %></div>
        <div class="columns">
          <%= link_to edit_banco_path(banco) do %>
            <i class="material-icons">edit</i>
          <% end %>
        </div>
      </li>
    <% end %>
     <li class="row">
        <div class="columns"><span class="hide"></span><b>Total</b></div>
        <div class="columns"></div>
        <div class="columns color-blue"><span class="hide"></span><b><%= number_to_currency valor_atual_total(@bancos)%></b></div>
        <div class="columns"></div>
      </li>
    </ul>
  </div>

</div>

<div class="fixed-action-btn">
  <%= link_to  new_banco_path, class:"btn-floating btn-large waves-effect waves-light red" do%>
    <i class="material-icons">add</i>
  <% end %>
</div>
      