<% if notice %>
  <p id="notice" class="flash_sucess"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%end%>
<h6>BANCOS</h6>

<div class="card">
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Saldo Atual</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @bancos.each do |banco| %>
        <tr>
          <td><%= link_to banco.nome.upcase, banco %></td>
          <td><%= banco.tipo %></td>
          <td><%= number_to_currency ultimo_valor(banco) %></td>
          <td><%= link_to edit_banco_path(banco) do %>
            <i class="material-icons">edit</i>
          <% end %>
          </td>
        </tr>
      <% end %>
      <tr class="total">
        <td><b>Total</b></td>
        <td></td>      
        <td class="color-blue"><b><%= number_to_currency valor_atual_total(@bancos)%></b></td>
        <td></td>
      <tr>
    </tbody>
  </table>
</div>

<div class="fixed-action-btn">
  <%= link_to  new_banco_path, class:"btn-floating btn-large waves-effect waves-light red" do%>
    <i class="material-icons">add</i>
  <% end %>
</div>
      