<% if notice %>
  <p id="notice" class="flash_sucess"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%end%>
<h6>BANCOS</h6>

<div class="card">
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @bancos.each do |banco| %>
        <tr>
          <td><%= link_to banco.nome.upcase, banco %></td>
          <td><%= banco.tipo %></td>
          <td><%= link_to edit_banco_path(banco) do %>
            <i class="material-icons">edit</i>
          <% end %>
          <%= link_to  banco, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="material-icons">delete</i>
          <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="fixed-action-btn">
  <%= link_to  new_banco_path, class:"btn-floating btn-large waves-effect waves-light red" do%>
    <i class="material-icons">add</i>
  <% end %>
</div>
      