<%= form_with(model: saldo, local: true) do |form| %>
  <% if saldo.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(saldo.errors.count, "error") %> prohibited this saldo from being saved:</h4>
      <ul>
      <% saldo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :valor %>
    <%= form.text_field :valor %>
  </div>

  <div class="field">
    <%= form.label :banco_id %>
    <%= form.text_field :banco_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
