<% if notice %>
  <p id="notice" class="flash_sucess"><%= notice %></p>
<%end%>
<h6>SALDOS</h6>
<div class="card">
<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Valor</th>
      <th>Banco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @saldos.each do |saldo| %>
      <tr>
        <td><%= saldo.data %></td>
        <td><%= saldo.valor %></td>
        <td><%= saldo.banco.nome %></td>
        <td>
          <%= link_to edit_saldo_path(saldo) do %>
            <i class="material-icons">edit</i>
          <% end %>
          <%= link_to  saldo, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="material-icons">delete</i>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="fixed-action-btn">
  <%= link_to  new_saldo_path, class:"btn-floating btn-large waves-effect waves-light red" do%>
    <i class="material-icons">add</i>
  <% end %>
</div>
