<% if notice %>
  <p id="notice" class="flash_sucess"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%end%>
<h6>DIVIDENDOS
  <div class="float-right btn-pesquisar">
    <i class="material-icons">search</i>
  </div>
  <br/>
  <small>Competência: <%= competencia_atual() %></small>
</h6>

<div id="card-search" class="row card hide">
  <div class="col m3">
    <%= form_tag("/dividendos", method: "get") do %>
      <%= label_tag(:q, "Competência:") %>
      <%= month_field(:dividendo, :competencia) %>
  </div>  
  <div class="col m3"></div>
  <div class="col m3"></div>
  <div class="col m3 pesquisar">
    <%= submit_tag 'Pesquisar', class:"btn btn-primary" %>
  </div>
    <% end %>  
</div>


<div class="card dividendos">
 <div class="table">
    <ul class="head">
      <li class="columns"></li>
      <li class="columns">Data de Vencimento</li>
      <li class="columns">Descrição</li>
      <li class="columns">Valor</li>
      <li class="columns"></li>
    </ul>
    <ul class="content">
    <% @dividendos.each do |dividendo| %>
      <li class="row">
        <div class="columns"><span class="hide"><b>Pago</b></span>
        <%if(dividendo.pago) %>
            <i class="material-icons">check_box</i>
          <% else %>
            <%= link_to pagar_path(dividendo) do %>
              <i class="material-icons">check_box_outline_blank</i>
            <% end %>
          <% end %>
        </div>
        <div class="columns"><span class="hide"><b>Data de Vencimento</b></span><%= dividendo.data_vencimento.strftime("%d/%m/%Y") rescue nil %></div>
        <div class="columns"><span class="hide"><b>Descrição</b></span><%= dividendo.descricao %></div>
        <div class="columns"><span class="hide"><b>Valor</b></span><%= number_to_currency dividendo.valor %></div>
        <div class="columns">
          <span class="hide"></span>
          <%= link_to edit_dividendo_path(dividendo) do %>
            <i class="material-icons">edit</i>
          <% end %>
        </div>
      </li>
    <% end %>
     <li class="row">
        <div class="columns"><span class="hide"></span><b>Total</b></div>
        <div class="columns color-red"><span class="hide">Devendo</span><b><%= number_to_currency valor_total_pago(@dividendos) - valor_total(@dividendos)%></b></div>
        <div class="columns color-green"><span class="hide">Pago</span><b><%= number_to_currency valor_total_pago(@dividendos)%></b></div>
        <div class="columns color-blue"><span class="hide">Total</span><b><%= number_to_currency valor_total(@dividendos)%></b></div>
        <div class="columns"></div>
      </li>
    </ul>
  </div>


<div class="page-description">
    <%= page_entries_info @dividendos rescue nil %>
  </div>
  <%= paginate @dividendos rescue nil %>
</div>

<div class="fixed-action-btn">
  <%= link_to  new_dividendo_path, class:"btn-floating btn-large waves-effect waves-light red" do%>
    <i class="material-icons">add</i>
  <% end %>
</div>

<script>

$(".btn-pesquisar").click(function(e){
  if ($("#card-search").hasClass("hide")){
    $("#card-search").removeClass("hide")
  }else{
    $("#card-search").addClass("hide")
  }
})

</script>