<div id="novo-saldo">
  <h6>NOVO SALDO</h6>
  <small><%= Date.today.strftime('%d/%m/%Y') %></small>

  <div class="card form">
  <% @bancos.each do |banco| %>
    <div class="form-group">
      <h6><%= banco.nome %></h6>
      <input type="number" id=<%= banco.id %> value=<%= banco.saldos.last.valor %>>
    </div>
  <% end %>
    <div class="actions">
      <button type="button" class="btn blue darken-4">SALVAR</button>
      <%= link_to 'Voltar', root_path, class:"btn btn-default" %>
    </div>
  </div>
</div>

<script>
  var btn = $('button')[0]
  console.log(btn)
  btn.addEventListener('click', function(){
    var token = $('meta[name="csrf-token"]').attr('content');
    var inputs = document.querySelectorAll('input');
    var data = new FormData()
    data.append('data', new Date() + 1)
    for (var index = 0; index < inputs.length; index++) {
      var input = inputs[index];
      data.append('bancos[]id', input.id)
      data.append('bancos[]valor', input.value)
      
    }

    fetch('/saldo/create', {
      method: 'POST',
      headers: {
        'X-CSRF-Token': token,
      },
      body: data
    })

    history.back()
  })
</script>