<span class="card-title">Dividendos</span>
<div class="grafic chart-panel" style="width: 100%;height:200px;" onclick="chart(this, 'Dividendos',<%=  get_data_labels_dividendos(current_user) %>, <%= get_data_values_dividendos(current_user)%>, 'bar');"></div>
<div class="card-content">
    <p>Mês atual: <%= Date.today.strftime("%m/%Y") %> </p>
    <p>Gasto atual: <%=number_to_currency( gasto_atual()) %> -
     Média: <b><%= number_to_currency media_de_gastos()%></b></p>
</div>