<% if notice %>
  <p id="notice" class="flash_sucess"><%= notice %></p>
<%end %>
<% if alert %>
  <p class="flash_fail"><%= alert %></p>
<%end%>


<%= render '/dashboards/graficos' %>

<%= render '/dashboards/bancos' %>

<div class="fixed-action-btn">
  <%= link_to  new_banco_path, class:"btn-floating btn-large waves-effect waves-light red" do%>
    <i class="material-icons">add</i>
  <% end %>
</div>

<script>
  document.querySelectorAll(".grafic").forEach(grafic => {
    grafic.click();
  });

  $(".label_banco").click(function(){
    let bancos = $(".bancos")
    if(bancos.hasClass("hide")){
      bancos.removeClass("hide")
    }else{
      bancos.addClass("hide")
    }
  });

</script>