<% if notice %>
  <p id="notice" class="flash_sucess"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%end%>

<h6>DASHBOARDS</h6>
<% if @bancos.empty? %>
  <h5>Não há bancos cadastrados, clique em + no canto direito para iniciar. <h5>
<% end %>
<div class="row">
<% @bancos.each do |banco| %>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <div class="grafic chart-panel" style="width: 236.22px;height:200px;" onclick="chart(this, 'Saldos',<%=  get_data_labels(banco) %>, <%= get_data_values(banco)%>, 'line');"></div>
          <%= link_to new_saldo_path(banco), class:"btn-floating halfway-fab waves-effect waves-light red" do %>
            <i class="material-icons">add</i>
          <% end %>
        </div>
        <div class="card-content">
          <span class="card-title"><%= link_to banco.nome, banco_path(banco.id) %></span>
          <small><%= banco.tipo %></small>
          <p>Saldo Atual: <%=number_to_currency( ultimo_valor(banco)) %> </p>
        </div>
      </div>
    </div>
<% end %>
</div>

<div class="fixed-action-btn">
  <%= link_to  new_banco_path, class:"btn-floating btn-large waves-effect waves-light red" do%>
    <i class="material-icons">add</i>
  <% end %>
</div>

<script>
  document.querySelectorAll(".grafic").forEach(grafic => {
    grafic.click();
  });
</script>