<div class="navbar-fixed">  
  <nav class="blue">
    <div class="nav-wrapper">
      <%= render 'layouts/side_bar' %> 
      <a href="/" class="brand-logo">Carteira</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user %>
        <li><%= link_to 'Bancos', bancos_path %></li>
        <li><%= link_to 'Dividendos', dividendos_path %></li>
        <li><%= link_to 'Saldos Diários', saldos_path %></li>
        <li>Olá, <%= current_user.email %></li>
        <li>
            <a  class='dropdown-trigger' href="#" data-target='dropdown1'><i class="material-icons">arrow_drop_down</i></a>
            <ul id='dropdown1' class='dropdown-content'>
              <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
            </ul>
        </li>
        <%else%>
          <li><%= render "devise/shared/links" %></li>
        <%end%>
      </ul>
    </div>
  </nav>
</div>
<script>

$('.dropdown-trigger').dropdown();

</script>